*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    scroll-behavior : smooth;
    font-family : 'Quicksand', sans-serif;
    text-decoration : none;
    list-style : none;
}

:root{
    --bg-color : #0a0b16;
    --primary-color: #020312;
    --text-color : #fff;
    --main-color : #eb4a4a;
    --second-color: gray;
    --other-color : #12141c;
    --h1-font : 5.2rem ;
    --h2-font : 3.2rem ;
    --p-font : 1.1rem ;
}

body{
    background-color : var(--bg-color);
    color : var(--text-color);
}

header{
    position : sticky;
    top : 0;
    left : 0;
    width : 100%;
    z-index : 1000;
    display : flex;
    /* align-items : center; */

    background : transparent;
    padding : 22px 16%;
    border-bottom : 1px solid transparent;
    transition :  background .40s ease, box-shadow .4s ease ;
}

.header a{
    color : white;
    /* margin-left : 20px; */
    text-decoration : none; 
}

.header.scrolled{
    background : #ffffff;
    box-shadow : 0 2px 10px rgb(0,0,0,.1);
}
.logo{
    font-size : 2rem;
}
.navbar{
    min-height : 70px;
    display : flex;
    justify-content: center;
    align-items : center;
}

.navbar a{
    color : var(--text-color);
    font : var(--p-font);
    margin : 0 2px;
    padding : 10px 25px;
    font-weight : bold;
    border-radius : 0.5rem;
    transition : all .4s ease;
}

.navbar a:hover{
    background : var(--main-color);
    color : var(--text-color);
}

.contact-icons a{
    display : flex;
    color : var(--main-color);
    float : right;
    font-size : 18px;
    transition : all .4s ease; 
}

.contact-icons a:hover{
    color : var(--main-color);
}

#menu-icon{
    color : var(--text-color);
    font-size : 36px;
    cursor : pointer;
    display : none;
    z-index : 10001;
}

section{
    padding : 160px 16% 90px;
}

.home{
    height : 100vh;
    width : 100%;
    position : relative;
    display : flex;
    align-items : center;
    justify-content : flex-start;
    background : url('../images/home-bg.jpg') no-repeat center/cover;
}

.home-text h1{
    margin : 15px 0;
    font-size : var(--h1-font);
    font-weight : bold;
    line-height : 1.1;
    letter-spacing : 2px;
}

span{
    color : var(--main-color);
}

.home-text h4{
    font-size : 24px;
    color : var(--main-color);
    font-weight  : 600;
} 

/* .home-text h1{
    font-size : 24px;
    font-weight : 600;
    margin-bottom : 3rem;
} */

.btn{
    display: inline-block;
    padding: 14px 40px;
    border-radius: 0.5rem;
    font-size: 17px;
    font-weight: 500;
    background: var(--main-color);
    color: var(--text-color);
    border: 1px solid var(--main-color);
    transition: all .40s ease;
}
.btn:hover{
    transform: scale(1.01) translateY(-5px);
    background: transparent;
    border: 1px solid var(--main-color);
}
.header.sticky{
    padding : 10px 16%;
    background : var(--bg-color);
    border-bottom : 1px solid #0e1630;
}

.about {
    display : grid;
    grid-template-columns : repeat(2, 1fr);
    align-items : center;
    gap : 2rem;
}

.about-text h4{
    color : var(--main-color);
    font-size : 20px;
    font-weight : 600;
    margin : 10px 0;
} 

.about-text h2{
    font-size : var(--h2-font);
}

.about-text p{
    font-size : var(--p-font);
    color : var(--second-color);
    margin : 2rem;
    line-height : 30px;
}

.about-grid{
    display : grid;
    grid-template-columns : repeat(auto-fit, minmax(250px, 1fr));
    gap : 1rem;
    margin-bottom : 3rem;
}

.about-info h5{
    font-size : 22px;
    font-weight : 600;
}

.about-img img{
    height : auto;
    width : 100%;
    max-width : 400px;
}

.main-text {
    text-align : center;
}

.main-text h4{
    color : var(--main-color);
    font-size : 24px;
    font-weight : 600;
}

.main-text h2{
    font-size : var(--h2-font);
    margin-bottom : 10px;
}

.box{
    padding : 45px;
    background : #12141c;
    border-radius : 0.5rem;
    border-top : 5px solid transparent;
    transition : all .4s ease;
    cursor : pointer;
}

.box h3{
    font-size : 24px;
    font-weight : 600;
    margin : 15px 0;
    transition : all .4s ease;
}

.box p{
    font-size : var(--p-font);
    color : var(--second-color);
    line-height : 30px;
}

.box:hover{
    border-top : 5px solid var(--main-color);
    transform : scale(1.01) translateY(-5px);
}
.box:hover h3{
    color : var(--main-color);
}

.skills{
    text-align : center;
    padding : 60px 20px;
}

.skills-icon{
    display: flex;
    justify-content : center;
    flex-wrap : wrap;
    gap : 30px;
    margin-top : 30px;
}

.skills-icon i{
    font-size : 50px;
    transition : all .4s ease;
    cursor : pointer;
}

.skills-icon i:hover{
    transform : scale(1.2);
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.project-card {
    background: #111;
    padding: 20px;
    border-radius: 16px;
    text-decoration: none;
    color: white;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.6);
}

.project-card img{
    width : auto;
    height : 150px;
    object-fit : cover;
    border-radius : 12px;
    color : #1a1a1a;
}

.project-card h4 {
    margin-top: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ff4d4d;
}


.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
}
.contact-text h4{
    margin: 15px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}
.contact-text h2{
    font-size: var(--h2-font);
}
.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li a{
    display: block;
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: var(--main-color);
}
.contact-icons i{
    height: 40px;
    width: 40px;
    background: #12141c;
    border-radius: 0.5rem;
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all .40s ease;
}
.contact-icons i:hover{
    transform: scale(1.01) translateY(-5px);
    color: var(--text-color);
    background: var(--main-color);
}

.last-text p{
    text-align: center;
    padding : 15px;
    color : var(--second-color);
    font-size : var(--p-font);
    font-weight : 600;
    letter-spacing : 1px;
}

@media (max-width : 768px){
    #menu-icon{
        display : block;
    }
    .navbar{
        position: absolute;
        top: -100%;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #12141c;
        text-align: left;
        transition: all .40s ease;
    }
    .navbar a{
        display: block;
        padding: 1rem;
        margin: 1rem;
    }
    .navbar.active{
        top: 100%;
    }
    :root{
        --h1-font: 3.7rem;
        --h2-font: 2.7rem;
    }
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/10){
    .back-video{
        width: 110%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/10){
    .back-video{
        width: auto;
        height: 100%;
    }
}

img{
    height:150px;
    width: 150px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.input-group {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #12141c;
    padding: 10px;
    position: relative;
    margin-bottom: 15px;
    line-height : 1; 
}

.input-group i {
  margin-right: 10px;
  color: #555;
  font-size: 16px;
}

.input-group input,.input-group textarea {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  resize: none;
  font-size: 14px;
}